VITE_FIREBASE_API_KEY=AIzaSyBI5P4HiwnMBZhQh5V2KOn-0_21-qRkDdc
VITE_FIREBASE_AUTH_DOMAIN=fitness-rpg-pencoedtre.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fitness-rpg-pencoedtre
VITE_FIREBASE_STORAGE_BUCKET=fitness-rpg-pencoedtre.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=255197443274
VITE_FIREBASE_APP_ID=1:255197443274:web:212a893767d6f55f25f033

# Optional for narration TTS
VITE_GOOGLE_TTS_KEY=  # You can paste your Google TTS key here later
