.signin-container {
  background-image: url('/global-bg.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.signin-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.signin-box input {
  padding: 8px;
  border-radius: 4px;
  border: none;
}
